/* 
 * style.css is a style sheet for this webpage.
 * 
 * author: Jesse Bloomster
 * date: September 28, 2016
 */

/* page font */
body {
	font: 16px Helvetica, Arial, sans-serif;
	background: url("Blue-rule.png");
}

/* paragraphs */

.topHeaders{
	color: #00f;
}

p:before {
	content: url("Yellow-pin.png");
}

#first {
	font-style: italic;
}

/* initial letters */

strong {
	background-color: #ddf; /* pale blue */
	color: #f00; /* red */
	font: 200% serif;
	font-weight: bold;
}

.spinach {
	color: #080; /* dark green */
	background-color: #ddf; /* pale blue */
}

/* numbered paragraphs */
h3.numbered {counter-reset: mynum;}
 
p.numbered:before {
  content: "(" counter(mynum, upper-latin) ") ";
  counter-increment: mynum;
}

li {
  list-style: lower-roman;
  margin-bottom: 8px;
}

ul {
  border: 10px solid lightblue;
  width:  100px;
}

#paragraphs {
  border: 10px solid lightblue;
  width:  200px;
}

/*** Style for table ***/

#demo-table {
  font: 100% sans-serif;
  background-color: #efe;
  border-collapse: collapse;
  empty-cells: show;
  border: 1px solid #7a7;
}

#demo-table > caption {
  caption-side: bottom;
  text-align: right;
  font-style: italic;
  border-top: .3em solid #4ca;
  margin-top: .5em;
}


/* basic shared rules */
#demo-table th,
#demo-table td {
  text-align: right;
  padding-right: .5em;
}

#demo-table th {
  font-weight: bold;
  padding-left: .5em;
}


/* header */
#demo-table > thead > tr:first-child > th {
  text-align: center;
  color: blue;
}

#demo-table > thead > tr + tr > th {
  font-style: italic;
  color: gray;
}

/* fix size of superscript */
#demo-table sup {
  font-size: 75%;
}

/* body */
#demo-table td {
  background-color: #cef;
  padding:.5em .5em .5em 3em;
}

#demo-table tbody td {
  border:1px solid #7a7;
}

#demo-table tbody th:after {
  content: ":";
}


/* footer */
#demo-table tfoot {
  font-weight: bold;
}

#demo-table tfoot th {
  color: blue;
}

#demo-table tfoot th:after {
  content: ":";
}

#demo-table > tfoot td {
  background-color: #cee;
}

#demo-table > tfoot > tr:first-child td {
  border-top: .2em solid #7a7;
}


